header{
    background-color: rgb(129, 18, 233);
    padding: 20px 0;
}
nav{
    position: absolute;
    top: 40px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.caixa{
    position: relative;
    width: 940px;
    height: 171px;
    margin: 0 auto;
}
h1 img{
    width: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.servicos{
    width: 940px; /*beijo na boca (mesmo valor do width na caixa*/
    margin: auto;
    padding: 50px 0;
}
.servicos li{
    display: inline-block;
    text-align: start;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.servicos img{
    width: 200px;
}
.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao{
    font-size: 18px;
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
   color: brown;
   text-decoration: underline;
}
.servicos li:hover {
    border-color: rgb(129, 18, 233);
}
.servicos li:active {
    border-color: brown
}
.servicos li:hover h2 {
    font-size: 34px;
}
footer{
    text-align: center;
    background-color: rgb(129, 18, 233);
    padding: 100px 0;
}
footer img{
    width: 200px;;
}
.copyright {
    color: black;
    font-size: 20px;
    margin: 20px 0 0;
}
main{
    width: 950px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}