h1{
    color: orange;
    font-size: 50px;
    text-align: center;
    background-color: rgb(67, 228, 58);
}
h2{
    color: blue;
    text-align: center;
}
body{
    background-color: rgb(44, 64, 236);
}
body{
    background-color: rgb(220, 240, 149);
}
img{
    width: 100px;
}